<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enem10x</title>
    <script src="https://kit.fontawesome.com/270b063d0e.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<header>
  <div class="top-bar">
    <!--<div class="Areas">
      <a href="" class="TestArea"><i class="fa-solid fa-clipboard"></i></a>
      <a href="" class="TestArea"><i class="fa-regular fa-user"></i></a>
    </div>-->
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="">Home</a>
            <a class="nav-link" href="{% url 'provas:prova' %}">Simulados</a>
            <a href="{% url 'usuarios:user' %}" class="profilearea"><i class="fa-regular fa-user"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<body>
  <hr>
  <main>
      <div class="subtitulos">
        <img src="{% static 'home/enem10xlogo.png' %}" alt="">
          <h1>Uma plataforma completa para estudar para o enem</h1>
          <h5>Aqui voce acompanha em tempo real o nivel de seu estudo</h5>
          <h5>Com enem10x voce recebe um ranking de melhores e piores materias, conteudos, a nivel de atomicidade, para voce focar seus estudos no que realmente voce precisa com o maior nivel de especificidade possivel. </h5>
        <h5>O nosso sistema gera uma prova no formato de simulado com um simples clique com quantas questoes voce quiser, assim garantimos uma melhor experiencia e gerenciamento de tempo pra voce usuario!  </h5> <br>
        <h5>Apos a realização da prova, nossa sistema vai atrás de suas respostas e em questão de milisegundos você tera uma serie de gráficos e relatorios:</h5>
        <h6>Nota da prova realizada 100% realista simulando o enem com o nosso complexo algoritimo que simula o TRI com dados reais das questões acumuladas em nosso banco de dados.</h6>
        <h6>Grŕafico, todas notas/tempo pra voce poder acompanhar diante dos seus olhos, no intervalo que voce preferir, o seu desempenho.</h6>
        <h6>Nossa inteligencia artificial que apelidamos carinhosamente de "Diego" vai explicar as questões que voce errou pra acabar por vez com suas duvidas. </h6>
        <h5>Nossa meta é colocar você na sua faculdade dos sonhos.</h5> <br>
        <h5>Venha fazer parte da plataforma Enem 10x e realize seus sonhos!</h5> <br>
        <h5>Inscreva-se e adquira seu plano mensal hoje mesmo.</h5>   
    </div>
  </main>
</body>
</hr>

</hr>
  <footer class="pedosite">
    <!-- Conteúdo do rodapé -->
    <div>
      <address>
        R., 333 - Savassi <br />
        Belo Horizonte - MG, 3333333-333
      </address>
      <p>(31)-999999-9999</p>
      <div class="emailcontainer">
        <i class="fa-solid fa-envelope"></i>
        <span>enem10xnoreyply@enemtenx.com</span>
        <button><i class="fa-regular fa-copy"></i></button>
      </div>
    </div>
  </footer>
</html>