{% extends 'static/prova-base.html'%}
{% load provatag %}

{% block title %}
    Prova
{% endblock %}


{% block content %}
{% if materias %}
    {% for materia in materias %}
    <div>
        <p>{{ materia.nome }}</p> <br>
    </div>
    {% endfor %}
{% endif %}
{% if questoes %}
    {% for questao in questoes %}
        <div>
            <p>{{ questao.enunciado }}</p><br>
            <form>
                {% for opcao in questao.opcoes %}
                <input type="radio" name="resposta_{{ questao.id }}" value="{{ forloop.counter0 }}">
                {{ forloop.counter0|opcao_em_letra }}) {{ opcao }}<br>
                {% endfor %}
            </form>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}