LICENSE
README.md
tree.txt
.vscode
.gitignore
db.sqlite3
enviroment.yml
ideias.txt
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
stats
Dockerfile
__localcode/