@charset "UTF-8";

$primarycolor: #1B263B;
$secondarycolor: #415A77;
$shadowcolor: #E0E1DD;
$background-color: #D9D9D9;
$details: #0D1B2A;
$font-color: rgba(0, 0, 0, 0.61);
$second-font-color: #7b7786;


* {
    margin: 0;
    padding: 0;
}

body{
    main{
        background-color: $background-color;
    }
}
/* inicio da parte superior */

header{
    background-color: $background-color;
    .navbar{
        margin: 0;
        background-color: $background-color;
        .container{
            width: 100%;
            margin: 0;

            .collapse{
                .navbar-nav{
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    .nav-item {
                        margin-left: 42px;
                        #cadastro{
                            border-style: solid;
                            border-width: 2px;
                            border-color: #ffffff;
                            background-color: #ffffff;
                            border-radius: 16px;
                            color: #0082BA;
                            padding: 3px;
                        }
                        .nav-link{
                            color: $font-color;
                            font-family: Roboto;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }   
                    }
                }
            }
        }
        .brand-img{
            border-radius: 3px;
            background-color: $background-color;
            flex-shrink: 0;
        }
        .navbar-brand{
            margin-left: 15px;
            background-color: $background-color;
        }
    }
}


        

body {

    main{
        margin-bottom: 200px;
    .container {
        display: flex;
        align-items: center;
        background-color: $background-color;
        padding: 20px;
        margin: 10px;
        justify-content: space-between;
        .text-content {
            max-width: 50%;
            h1{
                color: #0082BA;
                font-family: 'Roboto';
                font-size: 128px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            p{
                color: #000;
                font-family: 'Roboto';
                font-size: 38px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                img {
                    width: 344px;
                    height: 66px;
                    background-color: $background-color;
                }
            }
        }
        .image-content{
            width: 50%;
            margin-left: 50px;
        }
        }
    }
}



/* Começo Pé do site */
.pedosite {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $primarycolor;
    color: $font-color;
    padding: 150px;
    .container {
        max-width: 1170px;
        margin: auto;
            .row{
                display: flex;
                flex-wrap: wrap;
                .footer-col {
                    width: 25%;
                    padding: 0 15px;
                    h4{
                        font-size: 18px;
                        color: #ffffff;
                        text-transform: capitalize;
                        margin-bottom: 35px;
                        font-weight: 500;
                        position: relative;
                    }
                    h4:before {
                        content: '';
                        position: absolute;
                        left:0;
                        bottom: -10px;
                        background-color: $background-color;
                        height: 2px;
                        box-sizing: border-box;
                        width: 50px;
                    }
                    .social-links{
                        a{
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            background-color: rgba(255,255,255,0.2);
                            margin:0 10px 10px 0;
                            text-align: center;
                            line-height: 40px;
                            border-radius: 50%;
                            color: #ffffff;
                            transition: all 0.5s ease;

                        }
                        a:hover{
                            color: #24262b;
	                        background-color: #ffffff;
                        }
                    }
                    
                    ul {
                        list-style-type: none;
                        li {
                            img{
                                border-radius: 8px;
                            }
                            a {
                                font-size: 16px;
                                text-transform: capitalize;
                                color: #ffffff;
                                text-decoration: none;
                                font-weight: 300;
                                color: #bbbbbb;
                                display: block;
                                transition: all 0.3s ease;
                                }
                                a:hover {
                                    color: #ffffff;
	                                padding-left: 8px;
                                }
                            }
                        li:not(:last-child){
                            margin-bottom: 10px;
                        }
                        }
                    }
                
                }
            }
        }
/*Fim Pé do Site*/
@media (max-width: 915px) {
    .pedosite {
        padding: 50px; /* Ajuste o padding conforme necessário */
        .container .row .footer-col {
            width: 100%; /* Faz cada coluna ocupar a largura total da tela */
            padding: 0 15px;
            margin-bottom: 20px; /* Adiciona uma margem abaixo de cada coluna para espaçamento */
        }
    }
}


