@charset "UTF-8";
$background-color: #D9D9D9;
$main-color: #0082BA;
$font-color: #4C4C4C;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    width: 100%;
    height: 4860px;
    background-color: $background-color;
    background-image: linear-gradient(to right, $background-color, $main-color);
}

#navbar {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 68px;
    align-items: center;
    justify-content: space-between;

    #leftside {
        display: flex;
        flex-direction: row;
        align-items: center;

        #linha {
            margin-left: 15px;
        }

        .opt {
            margin-left: 57px;
            text-decoration: none;
            font-family: 'Roboto';
            font-size: 18px;
            color: $font-color;
        }
    }

    #rightside {
        .opt {
            text-decoration: none;
            font-family: 'Roboto';
            font-size: 18px;
            color: $font-color;
            margin-right: 20px;
        }

        .opt.large {
            text-decoration: none;
            font-family: 'Roboto';
            font-size: 28px;
            font-weight: 300;
            color: white;
            transition: color 0.3s, font-size 0.5s;

            &:hover {
                font-size: 30px;
            }
        }

        .opt.signup {
            background-color: white;
            border-radius: 50px;
            text-decoration: none;
            font-family: 'Roboto';
            padding: 10px;
            font-size: 28px;
            font-weight: 300;
            color: $main-color;
            transition: color 0.3s, background-color 0.8s;

            &:hover {
                background-color: aqua;
                color: white;
            }
        }
    }
}

#starter-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 65px;
    margin-bottom: 0px;
    justify-content: space-between;


    #slogan {
        width: 930px;
        display: flex;
        flex-direction: column;

        #insignia {
            background-color: white;
            width: max-content;
            padding: 15px;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #insigina-icon {
            width: 22px;
            padding: 3px;
        }



        #slogan-main {
            font-weight: 500;
            font-size: 128px;
            color: $main-color;

            #book-svg {
                width: 180px;
                height: 100px;
            }
        }

        #slogan-secondary {
            font-size: 42px;
            font-weight: 400;
            color: $font-color;
        }
    }

    #homeimg {
        width: 730px;
        height: 749px;
    }
}


.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(245, 240, 240);
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 60px;

    .feature-text-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 700px;

        .feature-title {
            color: $main-color;
            font-size: 58px;
        }

        .feature-text {
            color: $font-color;
            font-size: 37px;
            font-weight: 300;
        }

    }
}

.feature.reversed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 0px;
    margin-left: 15px;
    margin-right: 15px;

    .feature-text-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 700px;

        .feature-title {
            color: $main-color;
            font-size: 58px;
        }

        .feature-text {
            color: $font-color;
            font-size: 37px;
            font-weight: 300;
        }

    }
}

.feature.last {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}