{% extends 'static/user-form-base.html' %} {% block title %} Login {% endblock %} 
{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'usuarios/style.css' %}" />
<div class="account-form">
    {% if messages %}
    <div class="message">
        {% for message in messages %}
        <div>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'usuarios:login' %}" method="post">
        {% csrf_token %}
        <div class="form-container" >
            <div class="input">
                <input type="email" name="email" maxlength="150"  class="form-control" placeholder="name@gmail.com" required/>
            </div>
            <div class="input">
                <input 
                type="password"
                name="password"
                maxlength="50"
                minlength="8"
                required
                class="form-control"
                aria-describedby="password-help"
                placeholder="password"
                />
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Must be 8-20 characters long.
                </span>
            </div>
        </div>
        <div class="form-button">
            <button type="submit" value='Login'  class="btn btn-dark">Login</button>
            <p>Dont have account?<a href="{% url 'usuarios:signup' %}" class="add-account"><i class="fa-solid fa-user-plus"></i></a></p>
        </div>
    </form>
</div>
{% endblock %}
