{% extends 'static/user-form-base.html' %} {% block title %} Login {% endblock%}
{% block javascripts %} {% endblock %} {% load static %} {% block content %}
<script defer src="{% static 'usuarios/js/form-check.js' %}"></script>
<link rel="stylesheet" href="{% static 'usuarios/style.css' %}" />
<div class="account-form">
  <form id="login-form" action="{% url 'usuarios:login' %}" method="post">
    {% if message %}
    <div class="form-message">
      <div class="alert alert-danger rounded-3 py-2" role="alert">
        {{message}}
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class="login-container">
        <header>
          {% csrf_token %}
          <img
            src="{% static 'usuarios/Logo.svg' %}"
            alt="Intellectus Logo"
            class="login-logo"
          />
        </header>
        <div class="input-group">
          <input name="email" type="email" placeholder="Email" required />
        </div>
        <div class="input-group">
          <input
            name="password"
            type="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit">LOGIN</button>
        <a href="#">Esqueceu sua Senha?</a>
      </div>
      <div class="login-image">
        <img src="{% static 'usuarios/login-image.png'%}" alt="" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
