{% extends 'static/user-form-base.html' %} {% block title %} Login {% endblock%}
{% block javascripts %} {% endblock %} {% load static %} {% block content %}
<script defer src="{% static 'usuarios/js/form-check.js' %}"></script>
<link rel="stylesheet" href="{% static 'usuarios/style.css' %}" />
<div class="account-form">
  <form action="{% url 'usuarios:login' %}" method="post">
    {% if message %}
    <div class="form-message">
      <div class="alert alert-danger rounded-3 py-2" role="alert">
        {{message}}
      </div>
    </div>
    {% endif %}
    <div class="login-container">
      <div class="container">
        <div class="login-container">
          <header>
            {% csrf_token %}
            <img src="" alt="Intellectus Logo">
          </header>
          <form id="login-form">
            <div class="input-group">
              <input type="email" placeholder="Email" required>
            </div>
            <div class="input-group">
              <input type="password" placeholder="Password" required>
            </div>
            <button type="submit">LOGIN</button>
            <a href="#">Forgot Password? Click Here</a>
          </form>
        </div>
        <div class="welcome-section">
          <h1>Bem vindo ao Intellectus</h1>
          <p><!--Texto Infomartivo do Site-->></p>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
