{% extends 'static/user-base.html' %} {% block title %} Usuario {% endblock %}
{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'usuarios/chart.css' %}" />
<link rel="stylesheet" href="{% static 'usuarios/style.css' %}" />
<div class="filters">
  <select id="timeFilter">
    <option value="">Todas</option>
    <option value="1">Últimos mes</option>
    <option value="6">Últimos 6 meses</option>
    <option value="12">Último ano</option>
  </select>
</div>
<div class="chart-container">
  <div class="chart-display">
    <h1>Nota matematica</h1>
    <canvas
      id="nota-matematica-tempo"
      style="height: 300px; width: 300px; margin-left: 20px"
    ></canvas>
    <script>
      const ctx1 = document.getElementById("nota-matematica-tempo");
      const meses_mat_str = "{{months_mat|safe}}".replace(/'/g, '"');
      const meses_mat = JSON.parse(meses_mat_str);
      const dataMat = JSON.parse("{{data_mat|safe}}");

      const myChart1 = new Chart(ctx1, {
        type: "line",
        data: {
          labels: meses_mat,
          datasets: [
            {
              label: "Nota Matematica",
              data: dataMat,
              fill: false,
              borderColor: "rgb(75, 192, 192)",
              tension: 0.1,
            },
          ],
        },

        options: {
          responsive: false,
        },
      });
    </script>
  </div>
  <div class="chart-display">
    <h1>Nota Natureza</h1>
    <canvas
      id="nota-nat-tempo"
      style="height: 300px; width: 300px; margin-left: 20px"
    ></canvas>
    <script>
      const ctx2 = document.getElementById("nota-nat-tempo");
      const meses_nat_str = "{{months_nat|safe}}".replace(/'/g, '"');
      const meses_nat = JSON.parse(meses_nat_str);
      const dataNat = JSON.parse("{{data_nat|safe}}");

      const myChart2 = new Chart(ctx2, {
        type: "line",
        data: {
          labels: meses_nat,
          datasets: [
            {
              label: "Nota Ciencias da Natureza ",
              data: dataNat,
              fill: false,
              borderColor: "rgb(75, 192, 192)",
              tension: 0.1,
            },
          ],
        },

        options: {
          responsive: false,
        },
      });
    </script>
  </div>
  <div class="chart-display">
    <h1>Nota Linguagens</h1>
    <canvas
      id="nota-lin-tempo"
      style="height: 300px; width: 300px; margin-left: 20px"
    ></canvas>
    <script>
      const ctx3 = document.getElementById("nota-lin-tempo");
      const meses_lin_str = "{{months_lin|safe}}".replace(/'/g, '"');
      const meses_lin = JSON.parse(meses_lin_str);
      const dataLin = JSON.parse("{{data_lin|safe}}");

      const myChart3 = new Chart(ctx3, {
        type: "line",
        data: {
          labels: meses_lin,
          datasets: [
            {
              label: "Nota  Linguagens",
              data: dataLin,
              fill: false,
              borderColor: "rgb(75, 192, 192)",
              tension: 0.1,
            },
          ],
        },

        options: {
          responsive: false,
        },
      });
    </script>
  </div>
  <div class="chart-display">
    <h1>Nota Humanas</h1>
    <canvas
      id="nota-humanas-tempo"
      style="height: 300px; width: 300px; margin-left: 20px"
    ></canvas>
    <script>
      const ctx4 = document.getElementById("nota-humanas-tempo");
      const meses_hum_str = "{{months_hum|safe}}".replace(/'/g, '"');
      const meses_hum = JSON.parse(meses_hum_str);
      const dataHum = JSON.parse("{{data_hum|safe}}");

      const myChart4 = new Chart(ctx4, {
        type: "line",
        data: {
          labels: meses_hum,
          datasets: [
            {
              label: "Nota Ciencias Humanas",
              data: dataHum,
              fill: false,
              borderColor: "rgb(75, 192, 192)",
              tension: 0.1,
            },
          ],
        },

        options: {
          responsive: false,
        },
      });
    </script>
  </div>
</div>
<script src="{% static 'usuarios/js/graph.js' %}"></script>
{% if provas_completas %}
<div>
  {% for prova in provas_completas %}
  <p>
    <a href="{% url 'provas:prova-completa' prova.id %}"
      >Prova: {{ forloop.counter }} {{prova.data_feita}}</a
    >
  </p>
  <br />
  {% endfor %}
</div>
{% endif %} {% endblock %}
