{% extends 'static/platform-base.html' %} {% block title %} Turma - {{turma.nome}}
{% endblock %} {% block content %} {% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#toggleButton").on("click", function () {
      $("#uuidField").toggleClass("blur-text");

      if ($("#uuidField").hasClass("blur-text")) {
        $(this)
          .find("i")
          .removeClass("fa-regular fa-eye-slash")
          .addClass("fa-regular fa-eye");
      } else {
        $(this)
          .find("i")
          .removeClass("fa-regular fa-eye")
          .addClass("fa-regular fa-eye-slash");
      }
    });
  });
  $(document).ready(function () {
    var myToolTip = new bootstrap.Tooltip(document.getElementById('uuidLink'),{
      trigger: "manual"
    });

    document
      .getElementById("uuidLink")
      .addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the <a> </a> works as a <a> </a>
        // Copy algorithm

        var textArea = document.createElement("textarea");
        textArea.value = event.target.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);

        myToolTip.show();
        setTimeout(() => {
          myToolTip.hide();
        }, 2000);
      });
  });
</script>

<link rel="stylesheet" href="{% static 'usuarios/turma.css' %}" />
<div class="message">
  {% if messages %}
  <div class="alert alert-info">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}
</div>
<div class="container">
  <div class="header">
    <h1>{{ turma.nome }}</h1>
  </div>
  <div class="body">
    <h2>Professores</h2>
    {{ turma.criador }} - Criador {% for professor in turma.professores.all %}
    <h6>{{ professor }}</h6>
    {% endfor %}
    <h2>Alunos</h2>
    <ul class="aluno-list">
      {% for aluno in turma.alunos.all %}
      <li>
        <i class="bx bx-user"></i>
        <a href="" class="no-text-decoration">{{ aluno.usuario }}</a>
        {% if professor == turma.criador %}
        <button type="button">
          <a
            href="{% url 'usuarios:remover-aluno' turma.id aluno.id %}"
            class="no-text-decoration"
            >Remover aluno</a
          >
        </button>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% if user.is_professor %}
  <div class="footer">
    <h2>Codigo de acesso:</h2>
    <p class="info-text">
      clique para copiar.
    </p>
    <div class="codigo-container">
      <div class="codigo-text">
        <span id="uuidField" class="blur-text"
          ><a
            href="#"
            id="uuidLink"
            data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Copied!"
            class="no-text-decoration"
            >{{turma.codigo}}</a
          ></span
        >
      </div>
      <div class="codigo-reveal">
        <button type="button" class="reveal-button" id="toggleButton">
          <i class="fa-regular fa-eye"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="turma-actions">
    <div class="action">
      <button type="button" class="btn btn-danger">
        <a
          href="{% url 'usuarios:delete-turma' turma.id %}"
          class="no-text-decoration"
          >Deletar Turma</a
        >
      </button>
    </div>
  </div>
  {% elif user.is_aluno %}
  <div class="turma-actions">
    <div class="action">
      <button type="button" class="btn btn-danger">
        <a
          href="{% url 'usuarios:aluno-sair-turma' turma.id aluno.id %}"
          class="no-text-decoration"
          >Sair da turma</a
        >
      </button>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
