@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfe7f1;
}

* {
  font-family: "Poppins", "sans-serif ";
  margin: 0;
  padding: 0;
}

/*==== filters ====*/
.filters {
  margin-left: 500px;
}

/*==== sidebar ====*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #fbfdff;
  padding: 10px 14px;
  font-size: 22px;
  transition: 0.3s;
}
.sidebar .text {
  font-weight: 500;
  padding-left: 15px;
  white-space: nowrap;
  opacity: 1;
}
.sidebar .menu-bar {
  padding-top: 50px;
}
.sidebar .menu-bar .menu-links {
  padding-left: 0;
}
.sidebar .menu-bar .menu-links .nav-link {
  margin-top: 20px;
  border-radius: 6px;
  height: 65px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.sidebar .menu-bar .menu-links .nav-link a {
  color: #415A77;
  text-decoration: none;
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr;
  width: 100%;
  height: 100%;
}
.sidebar .menu-bar .menu-links .nav-link a i {
  display: flex;
  align-items: center;
  min-width: 60px;
  font-size: 20px;
  margin-left: 20px;
}
.sidebar .menu-bar .menu-links .nav-link a .nav-text {
  margin-left: 15px;
  font-weight: 500;
}
.sidebar .menu-bar .menu-links .nav-link.logout {
  position: absolute;
  width: 86%;
  bottom: 0;
  margin-left: 8px;
  margin-bottom: 10px;
  left: 0;
}
.sidebar .menu-bar .menu-links .nav-link.logout:hover {
  cursor: pointer;
  background-color: rgb(232, 110, 110);
}
.sidebar .menu-bar .menu-links .nav-link.logout:hover i {
  color: white;
}
.sidebar .menu-bar .menu-links .nav-link.logout:hover .nav-text {
  color: white;
}
.sidebar .menu-bar .menu-links .nav-link:hover {
  cursor: pointer;
  background-color: #415A77;
}
.sidebar .menu-bar .menu-links .nav-link:hover i {
  color: white;
}
.sidebar .menu-bar .menu-links .nav-link:hover .nav-text {
  color: white;
}
.sidebar header {
  position: relative;
}
.sidebar header .toggle-link {
  text-decoration: none;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color: #415A77;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #dfe7f1;
  cursor: pointer;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .image-text img {
  width: 40px;
  border-radius: 6px;
}
.sidebar header .image-text .header-text {
  display: flex;
  flex-direction: column;
}
.sidebar header .image-text .header-text .name {
  font-weight: 600;
}
.sidebar header .image-text .header-text .sub-name {
  margin-top: -2px;
}

.sidebar.close {
  width: 88px;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar.close .accordion-text {
  opacity: 0;
}

h1 {
  color: gray;
  /* Cor cinza */
  font-weight: 800;
  /* Negrito */
  font-size: 32px;
  /* Tamanho da fonte */
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  /* Letras maiúsculas */
  letter-spacing: 1px;
  /* Espaçamento entre as letras */
}

/* ==== Form ====*/
.account-form .form-message {
  padding-top: 5vh;
  display: grid;
  align-items: center;
}
.account-form form {
  display: grid;
  justify-content: center;
  margin-top: 250px;
  color: #1B263B;
}
.account-form form .form-container {
  display: grid;
  justify-content: center;
  background-color: #fff;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  top: 50%;
  left: 50%;
  border-radius: 8px;
}
.account-form form .form-container .form-title {
  font-family: "Poppins";
  display: grid;
  justify-content: center;
  align-items: center;
  color: #1B263B;
}
.account-form form .form-container input {
  width: 250px;
}
.account-form form .form-container .col-auto span {
  color: #0D1B2A;
}
.account-form form .form-container .form-button {
  display: grid;
  align-items: center;
}
.account-form form .form-container .form-button .btn {
  color: white;
  background-color: #1B263B;
}
.account-form form .form-container .form-button p .fa-solid {
  margin-left: 5px;
  color: #1B263B;
  margin-top: 10px;
  transition: 0.4s;
}
.account-form form .fa-solid:hover {
  transform: translateY(-2px);
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
