@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #dfe7f1; }

* {
  font-family: 'Poppins', 'sans-serif ';
  margin: 0;
  padding: 0; }

/* ==== main user-base div ==== */
.content {
  margin-left: 400px; }

/*==== filters ====*/
.filters #timeFilter {
  margin-top: 25px;
  border-radius: 16px;
  padding: 5px;
  margin-left: 300px; }

/* ==== filtros para tags ===== */
/* == links == */
.no-text-decoration {
  text-decoration: none;
  color: #1B263B; }

/*==== sidebar ====*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #fbfdff;
  padding: 10px 14px;
  font-size: 22px;
  transition: 0.3s; }
  .sidebar .text {
    font-weight: 500;
    padding-left: 15px;
    white-space: nowrap;
    opacity: 1; }
  .sidebar .menu-bar {
    padding-top: 50px; }
    .sidebar .menu-bar .menu-links {
      padding-left: 0; }
      .sidebar .menu-bar .menu-links .nav-link {
        margin-top: 20px;
        border-radius: 6px;
        height: 65px;
        transition: 0.3s;
        display: flex;
        align-items: center; }
        .sidebar .menu-bar .menu-links .nav-link a {
          color: #415A77;
          text-decoration: none;
          display: grid;
          align-items: center;
          grid-template-columns: 24px 1fr;
          width: 100%;
          height: 100%; }
          .sidebar .menu-bar .menu-links .nav-link a i {
            display: flex;
            align-items: center;
            min-width: 60px;
            font-size: 20px;
            margin-left: 20px; }
          .sidebar .menu-bar .menu-links .nav-link a .nav-text {
            margin-left: 15px;
            font-weight: 500; }
      .sidebar .menu-bar .menu-links .nav-link.logout {
        position: absolute;
        width: 86%;
        bottom: 0;
        margin-left: 8px;
        margin-bottom: 10px;
        left: 0; }
      .sidebar .menu-bar .menu-links .nav-link.logout:hover {
        cursor: pointer;
        background-color: #e86e6e; }
        .sidebar .menu-bar .menu-links .nav-link.logout:hover i {
          color: white; }
        .sidebar .menu-bar .menu-links .nav-link.logout:hover .nav-text {
          color: white; }
      .sidebar .menu-bar .menu-links .nav-link:hover {
        cursor: pointer;
        background-color: #415A77; }
        .sidebar .menu-bar .menu-links .nav-link:hover i {
          color: white; }
        .sidebar .menu-bar .menu-links .nav-link:hover .nav-text {
          color: white; }
  .sidebar header {
    position: relative; }
    .sidebar header .toggle-link {
      text-decoration: none; }
    .sidebar header .toggle {
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%);
      height: 25px;
      width: 25px;
      background-color: #415A77;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #dfe7f1;
      cursor: pointer; }
    .sidebar header .image-text {
      display: flex;
      align-items: center; }
      .sidebar header .image-text img {
        width: 40px;
        border-radius: 6px; }
      .sidebar header .image-text .header-text {
        display: flex;
        flex-direction: column; }
        .sidebar header .image-text .header-text .name {
          font-weight: 600; }
        .sidebar header .image-text .header-text .sub-name {
          margin-top: -2px; }

.sidebar.close {
  width: 88px; }
  .sidebar.close .text {
    opacity: 0; }
  .sidebar.close .accordion-text {
    opacity: 0; }

h1 {
  color: gray;
  /* Cor cinza */
  font-weight: 800;
  /* Negrito */
  font-size: 32px;
  /* Tamanho da fonte */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  /* Letras maiúsculas */
  letter-spacing: 1px;
  /* Espaçamento entre as letras */ }

/* ==== Form ====*/
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto'; }
  body .account-form {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0; }
    body .account-form .form-message {
      padding-top: 5vh;
      display: grid;
      align-items: center; }
    body .account-form .container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 150px; }
      body .account-form .container .login-image {
        flex: 1;
        max-width: 50%; }
        body .account-form .container .login-image img {
          width: 100%;
          height: 600px; }
      body .account-form .container .login-container {
        height: 600px;
        display: grid;
        border-radius: 16px 0px 0px 16px;
        border: 1px solid #fbfdff;
        background-color: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 60px;
        flex: 1;
        max-width: 40%;
        align-content: stretch;
        justify-content: center;
        align-items: stretch;
        justify-items: center; }
        body .account-form .container .login-container header {
          display: flex;
          justify-content: center; }
          body .account-form .container .login-container header img {
            width: 321px; }
        body .account-form .container .login-container .input-group {
          display: grid;
          width: 331px;
          height: 63px; }
          body .account-form .container .login-container .input-group input {
            border: none;
            background-color: #D9D9D9;
            border-radius: 16px;
            width: 331px;
            height: 63px;
            margin-top: 15px; }
          body .account-form .container .login-container .input-group input::placeholder {
            padding-left: 15px; }
        body .account-form .container .login-container button {
          border: none;
          border-radius: 16px;
          background-color: #0082BA;
          width: 331px;
          height: 44px;
          margin-top: 3px; }
        body .account-form .container .login-container a {
          color: #0082BA;
          text-decoration: none; }

/* Responsividade */
@media only screen and (max-width: 768px) {
  .account-form {
    width: 100%; }
    .account-form .login-container {
      flex-direction: column; }
      .account-form .login-container .form-container {
        width: 100%;
        height: 100%; }
    .account-form img {
      display: none; }
    .account-form form {
      margin-top: 20px; }
      .account-form form .form-container {
        padding: 40px; } }
/* ==== turmas ==== */
.turma-create-container {
  max-width: 400px;
  margin-top: 15px;
  background-color: #fbfdff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .turma-create-container button {
    border: none;
    border-radius: 6px;
    background-color: #fbfdff;
    width: 120px;
    margin-left: 5px;
    height: 60px;
    display: flex;
    transition: 0.2s; }
    .turma-create-container button a {
      font-size: 16px;
      font-family: "Poppins", "sans-serif";
      font-weight: 400;
      color: #778da9;
      max-width: 100%;
      padding: 12px;
      max-height: 100%; }

button:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: translateY(-1px); }

.turmas-container {
  max-width: 400px;
  margin-left: 400px; }
  .turmas-container .message {
    margin-top: 21px; }
  .turmas-container .turma-box {
    margin-top: 150px;
    background-color: #fbfdff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.2s;
    justify-content: center;
    align-items: center; }
    .turmas-container .turma-box .turma-box-link .turma-box-header {
      color: #415A77; }
      .turmas-container .turma-box .turma-box-link .turma-box-header i {
        font-size: 30px;
        margin-right: 5px; }
    .turmas-container .turma-box .turma-box-link .turma-body {
      color: #D9D9D9; }
  .turmas-container .turma-box:hover {
    cursor: pointer;
    transform: translateY(-2px);
    opacity: 0.6; }

/* ==== codigo-form ====*/
.codigo-container {
  margin-top: 200px; }

/* ==== Create turma ==== */
.create-turma-container {
  background-color: #96acc4; }
  .create-turma-container button {
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    padding: 4px;
    margin-left: 15px; }
  .create-turma-container .create-turma .form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 15%; }
    .create-turma-container .create-turma .form .header h1 {
      color: #1B263B;
      margin-bottom: 30px; }
    .create-turma-container .create-turma .form input {
      font-size: 19px;
      border-radius: 4px 4px 4px 4px;
      color: #415A77; }
    .create-turma-container .create-turma .form label {
      font-size: 19px;
      color: #1B263B; }
    .create-turma-container .create-turma .form button {
      margin-top: 15px;
      border: none;
      border-radius: 4px;
      font-size: 19px;
      padding: 4px; }

/* ==== provas ==== */
.prova-create-container {
  max-width: 400px;
  margin-top: 15px;
  background-color: #fbfdff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .prova-create-container button {
    border: none;
    border-radius: 6px;
    background-color: #fbfdff;
    width: 120px;
    margin-left: 5px;
    height: 60px;
    display: flex;
    transition: 0.2s; }
    .prova-create-container button a {
      font-size: 16px;
      font-family: "Poppins", "sans-serif";
      font-weight: 400;
      color: #778da9;
      max-width: 100%;
      padding: 8px;
      max-height: 100%; }

button:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: translateY(-1px); }

.prova-container {
  max-width: 400px;
  margin-left: 400px; }
  .prova-container .message {
    margin-top: 21px; }
  .prova-container .prova-box {
    margin-top: 150px;
    background-color: #fbfdff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.2s;
    justify-content: center;
    align-items: center; }
    .prova-container .prova-box .prova-box-link .prova-box-header {
      color: #415A77; }
      .prova-container .prova-box .prova-box-link .prova-box-header i {
        font-size: 30px;
        margin-right: 5px; }
    .prova-container .prova-box .prova-box-link .prova-body {
      color: #D9D9D9; }
  .prova-container .prova-box:hover {
    cursor: pointer;
    transform: translateY(-2px);
    opacity: 0.6; }

/* Container de escolha de prova */
.content {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  width: auto; }
  .content .prova-form-container {
    display: flex;
    align-items: baseline;
    padding: 10px;
    margin-top: 50px;
    border-radius: 16px;
    background-color: #fff; }
    .content .prova-form-container #tipoProvaSelect {
      border-radius: 16px;
      border: none; }
      .content .prova-form-container #tipoProvaSelect:hover {
        border: 1px solid #D9D9D9; }
    .content .prova-form-container .prova-customizavel form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      margin-left: 15px; }
      .content .prova-form-container .prova-customizavel form label {
        margin-left: 10px; }
      .content .prova-form-container .prova-customizavel form .num_questoes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline; }
        .content .prova-form-container .prova-customizavel form .num_questoes label {
          margin-left: 10px; }
        .content .prova-form-container .prova-customizavel form .num_questoes #id_num_questoes_prova {
          border-radius: 16px;
          border: none;
          margin-left: 10px; }
          .content .prova-form-container .prova-customizavel form .num_questoes #id_num_questoes_prova:hover {
            border: 1px solid #D9D9D9; }
      .content .prova-form-container .prova-customizavel form button {
        margin-top: 10px;
        border-radius: 16px;
        background-color: #0082BA;
        color: #fff;
        padding: 5px;
        border: none;
        margin-left: 10px; }
    .content .prova-form-container .simulado-customizavel form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline; }
      .content .prova-form-container .simulado-customizavel form .num_questoes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline; }
        .content .prova-form-container .simulado-customizavel form .num_questoes label {
          margin-left: 10px; }
        .content .prova-form-container .simulado-customizavel form .num_questoes #id_num_questoes_simulado {
          border-radius: 16px;
          border: none;
          margin-left: 10px; }
          .content .prova-form-container .simulado-customizavel form .num_questoes #id_num_questoes_simulado:hover {
            border: 1px solid #D9D9D9; }
      .content .prova-form-container .simulado-customizavel form label {
        margin-left: 10px; }
      .content .prova-form-container .simulado-customizavel form button {
        margin-top: 10px;
        border-radius: 16px;
        background-color: #0082BA;
        color: #fff;
        padding: 5px;
        border: none;
        margin-left: 10px; }
  .content .message {
    width: 50%; }

/* Perfil de Usuario */
.main {
  margin-top: 150px;
  margin-left: 15%;
  font-size: 28px;
  padding: 0 10px;
  width: 60%; }
  .main h2 {
    color: #333;
    font-family: 'Poppins', 'sans-serif ';
    font-size: 24px;
    margin-bottom: 10px; }
  .main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px; }
    .main .card table {
      border: none;
      font-size: 16px;
      height: 270px;
      width: 80%; }
      .main .card table td {
        margin-left: 150px; }

/*# sourceMappingURL=style.css.map */
