{% extends 'static/user-form-base.html' %}

{% block title %}
{% endblock %}

{% block content %}

<div class="acount-form">
    {% if forms.errors %}
        <div class="form-message">
            <div class="alert alert-info">
                {{ form.errors }}
            </div>
        </div>
    {% endif %}
    <form action="{% url 'usuarios:signup' %}" method="post">
        {% csrf_token %}
        <div class="input">
            {{ form.email }}
            <label for="email" class="input-label">
                <span>Email</span>
            </label>
        </div>
        <div class="input">
            {{ form.nome }}
            <label for="nome" class="input-label">
                <span>Nome</span>
            </label>
        </div>     
        <div class="input">
            {{ form.telefone }}
            <label for="telefone" class="input-label">
                <span>Telefone</span>
            </label>
        </div>     
        <div class="input">
            {{ form.password1 }}
            <label for="password1" class="input-label">
                <span>Senha</span>
            </label>
        </div>     
        <div class="input">
            {{ form.password2 }}
            <label for="password2" class="input-label">
                <span>Confirme sua Senha</span>
            </label>
        </div>     
        <div class="input">
            {{ form.data_nascimento }}
            <label for="data_nascimento" class="input-label">
                <span>Data de Nascimento</span>
            </label>
        </div>     
        <div class="input">
            {{ form.cpf }}
            <label for="cpf" class="input-label">
                <span>cpf</span>
            </label>
        </div>     
    <button value="Cadastrar" type="submit">Cadastrar</button>
    </form>
</div>

{% endblock %}