<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>142</TotalTime><Application>LibreOffice/7.6.2.1$Windows_X86_64 LibreOffice_project/56f7684011345957bbf33a7ee678afaf4d2ba333</Application><AppVersion>15.0000</AppVersion><Pages>135</Pages><Words>3957</Words><Characters>17991</Characters><CharactersWithSpaces>21416</CharactersWithSpaces><Paragraphs>1116</Paragraphs></Properties>