<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Plataforma {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuarios/chart.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'home/favicon/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'usuarios/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="{% static 'home/enem10xlogo.png' %}" alt="logo" />
          </span>
          <div class="text header-text">
            <span class="name">Enem 10x</span>
            {% if user.is_admin %}
            <span class="sub-name">Admin</span>
            {% elif user.is_professor %}
            <span class="sub-name">Professor</span>
            {% elif user.is_aluno %}
            <span class="sub-name">Aluno</span>
            {% endif %}
          </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
      </header>
      <div class="menu-bar">
        <ul class="menu-links">
          <li class="nav-link">
            <a href="{% url 'home:home' %}">
              <i class="bx bx-home-alt"></i>
              <span class="text nav-text">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'usuarios:user-profile' %}">
              <i class='bx bx-user-pin'></i>
              <span class="text nav-text">{{user.nome}}</span>
            </a>
          </li>
          {% if user.is_aluno %}
          <li class="nav-link">
            <a href="{% url 'usuarios:aluno-provas-feitas' %}">
              <i class="bx bx-test-tube"></i>
              <span class="text nav-text">Provas</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'usuarios:graficos' %}">
              <i class="bx bxl-graphql"></i>
              <span class="text nav-text">Gráficos</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'usuarios:aluno-turmas' %}">
              <i class='bx bx-library'></i>
              <span class="text nav-text">Turmas</span>
            </a>
          </li>
          {% elif user.is_professor %}
          <li class="nav-link">
            <a href="{% url 'usuarios:professor-turmas' %}">
              <i class="bi bi-people"></i>
              <span class="text nav-text">Turmas</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'provas:criar-prova-professor' %}">
              <i class="bx bx-test-tube"></i>
              <span class="text nav-text">Provas</span>
            </a>
          </li>
          {% endif %}
          {% if request.user.is_admin %}
          <li class="nav-link">
            <a href="{% url 'admin:index' %}">
              <i class='bx bxl-git'></i>
              <span class="text nav-text">Admin</span>
            </a>
          </li>
          {% endif %}
          <li class="nav-link logout">
            <a href="{%  url 'usuarios:logout' %}">
              <i class="bx bx-log-out-circle"></i>
              <span class="text nav-text">Sair</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
    <script src="{% static 'usuarios/js/sidebar.js' %}" defer ></script>
  </body>
</html>
