{% extends 'static/home-base.html' %} {% load static %} {% block content %}
<div id="navbar">
  <div id="leftside">
    <a href="{% url 'home:home' %}">
      <img src="{% static 'home/Logo.png' %}" alt="Logo" />
    </a>
    <img id="linha" src="{% static 'home/line.svg' %}" alt="Linha" />
    <div id="leftsideoptions">
      <a class="opt" href="#">Sobre</a>
      <a class="opt" href="#">Preço</a>
      <a class="opt" href="#">Contato</a>
    </div>
  </div>
  <div id="rightside">
    <a class="opt large" href="">Log in</a>
    <a class="opt signup" href="{% url 'usuarios:signup' %}">Cadastro</a>
  </div>
</div>

<div id="starter-content">
  <div id="slogan">
    <h1 id="slogan-main">
      Construindo seu futuro.
      <img id="book-svg" src="{% static 'home/book.svg' %}" alt="Icone livro" />
    </h1>
    <p id="slogan-secondary">
      Estude com precisão de onde estiver, como quiser e acompanhe sua evolução
      diante de seus olhos com
      <img src="{% static 'home/logoinline.png' %}" alt="Logo" />
    </p>
  </div>
  <img src="{% static 'home/leftimage.svg' %}" alt="Garoto segurando tablet" />
</div>
{% endblock %}
